<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>Prueba de Navegación</ion-card-subtitle>
          <ion-card-title>Prueba de acceso directo para app mi bancoomeva</ion-card-title>
        </ion-card-header>
      </ion-card>
      
      <ion-item>
        <ion-label stacked>Cedula:</ion-label>
        <ion-input type="number" [(ngModel)]="cliente.identificador" name="Cedula" placeholder="12345678"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button color="primary" expand="full" outline (click)="onClickPagar()">Pagar</ion-button>
      </ion-item>
      
  </ion-content>
  